@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import "tailwindcss";

/* Apply the fonts using standard CSS syntax */
.newFont {
  font-family: 'Poppins', sans-serif;
}

.sign {
  font-family: 'Style Script', cursive;
}
.name{
  font-family: "Roboto", sans-serif;
}
  .button {
    box-shadow: 0 5px 40px 3px #8ed8eebe;
    border-radius: 100px;
  }
  .cursive{
    font-family: "Allura", cursive;
  }